*.pyc
__pycache__/
*.egg-info/
.pytest_cache/
.eggs/
*.egg
dist/
build/
*.log
*.tmp
.DS_Store
.aiida/
*.swp
*.swo

# AiiDA dumped workchain outputs
.temporary/
temporary/
**/.aiida_dump_safeguard
**/aiida_dump_log.json
**/aiida_node_metadata.yaml
**/outputs/OUT.aiida/
**/outputs/_scheduler-stderr.txt
**/outputs/_scheduler-stdout.txt
**/outputs/abacus_output
**/outputs/vasp_output
**/outputs/vasprun.xml
**/outputs/OUTCAR
**/outputs/CONTCAR
**/outputs/running_*.log
**/outputs/warning.log
**/outputs/error.log
**/outputs/output.log
**/node_inputs/
**/inputs/_aiidasubmit.sh
**/inputs/.aiida/
